apiVersion: v1
kind: ConfigMap
metadata:
  name: mosquitto-config
  namespace: smarthome
data:
  mosquitto.conf: |
    persistence true
    persistence_location /mosquitto/data/

    listener 1883
    allow_anonymous false
    password_file /mosquitto/config/passwordfile

    listener 8883
    allow_anonymous false
    password_file /mosquitto/config/passwordfile
    cafile /mosquitto/certs/ca.crt
    certfile /mosquitto/certs/tls.crt
    keyfile /mosquitto/certs/tls.key
